<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Elements</title>

    <!-- inclui o boostrap via webjars -->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>

</head>
<body>
<div class="container-fluid text-center">
    <div>
        <img class="img-fluid" th:src="@{/images/selenium.png}" style="width: 200px; "/>
    </div>

    <br><br><br>
    <div>
        <form action="/submit">
            <input type="checkbox" id="language1" name="la1" value="Java" class="form-check-input">
            <label for="language1" class="form-check-label"> Java</label><br>
            <input type="checkbox" id="l2" name="la2" value="Kotlin" class="form-check-input">
            <label for="l2" class="form-check-label"> Kotlin</label><br>
            <input type="checkbox" id="l3" name="la3" value="Python" class="form-check-input">
            <label for="l3" class="form-check-label"> Python</label><br><br>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>

    <br><br><br>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
            <div class="col-sm-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                        First radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        Second radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                    <label class="form-check-label" for="gridRadios3">
                        Third radio
                    </label>
                </div>
            </div>
        </div>
    </fieldset>

</div>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>