<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login - Admin</title>

    <!-- inclui o boostrap via webjars -->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>

</head>
<body>
<div class="container-fluid text-center">
    <div>
        <img class="img-fluid" th:src="@{/images/selenium.png}" style="width: 200px; "/>
    </div>
    <form th:action="@{/login}" th:object="${user}" method="post" style="max-width: 350px; margin: 0 auto;">

        <div class="border border-secondary p-3 rounded">
            <p>Access the System</p>
            <p>
                <input type="email" name="email" th:field="*{email}" class="form-control" placeholder="E-mail" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" th:field="*{password}" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type="checkbox" name="remember-me" />&nbsp;Remember Me
            </p>
            <p>
                <input type="submit" name="loginButton" value="Login" class="btn btn-primary" />
            </p>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>